*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    font-family: 'Zen Dots', sans-serif;}

.block{
    margin: auto;
    min-width: 100%;
}

header{
    padding: 25px 0px;
    font-size: 32px;
    height: fit-content;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo nav icons';
}

.inicio{
    margin: 20px 60px;
    grid-area: logo;
}

.inicio a{
    text-decoration: none;
    color: #0047FF;
}

.icons{
    margin: 20px 60px;
    grid-area: icons;
    display: inline-flex;
    justify-content: flex-end;
}

.icons a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
}

.icons a i{
    -webkit-transform: scale(1.25);
}

nav{
    grid-area: nav;
    display: inline-flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
}

nav ul li{
    padding: 0 10px;
    margin: 0px 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.video .titles{
    display: flex;
    justify-content: center;
    background-color: #E9EFFF;
}

.video video{
    width: 100%;
}

h1{
    color: white;
    position: relative;
    bottom: 95vh;
    left: 22%;
    font-size: 64px;
}

h3{
    color: white;
    position: relative;
    bottom: 80vh;
    right: 10%;
    font-size: 36px;
    width: 45%;
}


.jobs{
    padding-bottom: 50px;
    background-color: #E9EFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: '. h2 .'
                         'parraf img images'
                         '. aq .';
}

.jobs h2{
    grid-area: h2;
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
    margin: 40px;
}

.jobs p{
    grid-area: parraf;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0px 50px 0px 200px;
}

.jobs .img{
    grid-area: img;
}

.jobs .images{
    grid-area: images;
    display: flex;
    flex-direction: column;
}

.jobs .images img{
    width: 233px;
    margin: 0px 40px 30px 40px;
}

.jobs .aq{
    grid-area: aq;
    display: inline-flex;
    justify-content: center;
}

.jobs .aq img{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.jobs .aq img:first-child{
    border: 10px solid blue;
}

.contact1{
    background-color: #E9EFFF;
    overflow: hidden;
}

.contact1 img{
    width: 100%;
    height: 835px;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
}

.contact2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 775px;
    margin: 30px;
}

.contact2 .nosotros{
    width: 40vw;
    text-align: center;
    font-size: 34px;
    margin: 50px 80px;
}

.contact2 .nosotros p{
    text-align: justify;
    margin-top: 40px;
    font-size: 32px;
}

.contact2 .form{
    margin: 50px 150px 50px 0;
    font-size: 34px;
}

.contact2 .form label{
    font-size: 32px;
    margin: 20px 0px;
}

.contact2 .form input{
    border: none;
    border-bottom: solid 3px black;
    background: none;
    width: 300px;
    height: 50px;
}

.contact2 .form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 'nombre apellidos'
                         'telefono email'
                         'mensaje mensaje';
}

.contact2 .form form .nombre{
    grid-area: nombre;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.contact2 .form form .apellidos{
    grid-area: apellidos;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.contact2 .form form .telefono{
    grid-area: telefono;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;

}

.contact2 .form form .email{
    grid-area: email;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;

}

.contact2 .form form .mensaje{
    grid-area: mensaje;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.contact2 .form form .mensaje textarea{
    min-width: 700px;
    max-width: 700px;
    min-height: 120px;
    max-height: 215px;
    font-size: 20px;
    border: none;
    border-bottom: solid 3px black;
    background: none;
}

footer{
    background-color: #C6D6FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'footer1 footer2 footer3';
}

.footer1{
    grid-area: footer1;
    margin: 50px;
    font-size: 24px;
    text-align: center;
}

.footer1 i{
    font-size: 36px;
}

.footer1 .news{
    margin-top: 50px;
}

.footer1 .news input{
    margin: 20px 0px;
    width: 260px;
    height: 46px;
    border: white;
    font-size: 18px;
    font-family: inherit;
}

.footer1 .news button{
    border: solid 3px white;
    background-color: #C6D6FF;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    margin: 20px 0px;
    position: relative;
    right: 10px;
}

.footer1 i{
    margin: 10px;
}

.footer2{
    grid-area: footer2;
    margin: 50px 0px 50px 150px;
}

.footer2 ul{
    list-style: none;
}

.footer2 h4{
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.footer2 li{
    margin: 20px;
    font-size: 20px;
}

.footer2 i{
    margin: 10px;
    -webkit-transform: scale(1.25);
}

.footer3{
    grid-area: footer3;
    margin: 50px 0px 50px 200px;

}

.footer3 ul{
    list-style: none;
}

.footer3 h4{
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.footer3 li{
    margin: 20px;
    font-size: 20px;

}